<div class="wizard">
  <a><span class="badge">1</span> Choose import origin</a>
  <a class="current"><span class="badge">2</span> Upload file</a>
  <a><span class="badge">3</span> Check the import status</a>
</div>

<%= render 'form' %>

<%= link_to 'Show', @import %> |
<%= link_to 'Back', imports_path %>
