<div class="wizard">
  <a class="current"><span class="badge">1</span> Choose import origin</a>
  <a><span class="badge">2</span> Upload file</a>
  <a><span class="badge">3</span> Check the import status</a>
</div>
<%= form_for(@import) do |f| %>
  <div class="radio">
    <label>
      <input type="radio" name="import[source_system]" id="source-system-1" value="kshema" checked>
      Kshêma
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="import[source_system]" id="source-system-2" value="sys">
      SYS
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="import[source_system]" id="source-system-3" value="other">
      Other
    </label>
  </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<%= link_to 'Back', imports_path %>
