# Add application configuration variables here, as shown below.
#
# PUSHER_APP_ID: "2954"
# PUSHER_KEY: 7381a978f7dd7f9a1117
# PUSHER_SECRET: abdc3b896a0ffb85d373
# STRIPE_API_KEY: EdAvEPVEC3LuaTg5Q3z6WbDVqZlcBQ8Z
# STRIPE_PUBLIC_KEY: pk_BRgD57O8fHja9HxduJUszhef6jCyS
accounts_key: ddddd
contacts_key: ccccc
planning_key: xxxxx
devise_secret_key: 2c653598bed65f0f17d870a49774d13cee73037a81ffec3e434a8bd8140093cf2202fbc30252c9c7bc7dbc31973cbfa144a37db5dfd5863dc28c8fddd684100f
kshema_key: lkjalsdfaslkfd
fnz_key: zzz
S3_KEY: yyy
S3_SECRET: xxx
S3_BUCKET_NAME: asd-a
